<div class="container">
  <div style="display: flex; justify-content: space-between">
    <h3>My Tasks</h3>
    <%= link_to new_task_path, class: 'btn btn-primary' do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>

  <table class="table table-striped center" style="text-align: center">
    <thead>
    <tr >
      <th>ID</th>
      <th>URL</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <%= render @tasks %>
    </tbody>
  </table>
</div>