
<div>
  <h3>Task: #<%= @task.id %> <%= tag.span @task.status, class: badge(@task) %></h3>
  <p>
    URL: <%= @task.url %>
  </p>
</div>
<span class="badge badge-warning">Warning</span>
<div>
  <%= @task.task_content&.content %>
</div>
